

* {
    /* Wildcard * grabs whole document and assigns the following attributes */
        /* box-sizing border-box is a style element that keeps items within parent (flex-container)  */
    box-sizing: border-box;
        /* margins for document */
    margin: 0;
        /* padding for document */
    padding: 0;
}

body{
        /* Using <body> as class tag and specifying font family */
    font-family: Arial, Helvetica, sans-serif;

}
.flex-container{
        /* Displays as flex element */
    display: flex;
        /* height of flex container */
    /* height: 500px; */
        /* flex-direction specifies the direction of items (column/row) */
    /* flex-direction: column; */
        /* Background color of container */
    background-color: #f4f4f4;
        /*Always on the main axis (y axis) */
    /* justify-content: end; */
        /*Always on the cross (x axis) */
    /* align-items: start; */
}
.item{
    /* flex: 1=grow 0-shrink 100px=basis(basic width) */
    flex: 1 0 100px;
        /* flex-basis sets basic width for item */
    /* flex-basis: 100px; */
        /* Item height */
    height: 100px;
        /* Item background color */
    background: #254de4;    
        /* color of text */
    color: #fff;
        /* Margin around item = 10 pixels */
    margin: 10px;
        /* Display as "flex" */
    display: flex;
        /* Centers along y axis */
    justify-content: center;
        /* Centers along the x axis */
    align-items: center;
}

.item:nth-of-type(1){
    /* order: 1;
    flex-grow: 1; */
}
.item:nth-of-type(2){
        /* Order = position (n)  */
   /* order: 2;*/
        /* Flex grow = grows by a factor of 1,2,3... */
   /*flex-grow: 3; */

}
.item:nth-of-type(3){
        /* Order = position (n)  */
    /* order: 3;*/
        /* Flex grow = grows by a factor of 1,2,3... */
    /*flex-grow: 1; */
}