.navbar{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    justify-content: center !important; /* only available whenever display is equal to flex */
    align-items: center !important; /* only available whenever display is equal to flex */
    display: flex !important;
    text-align: center !important;
    height: 150px;
}

.navbar-brand{
    justify-content: center !important;
    display: flex !important;
    font-size: 60px !important;
}

.img{
    float: left;
}

.separate{
    margin-top: 3rem;
}

.jumbotron {
    display: flex;
}

#content{
    margin-top: 1.5rem;
}

#content {
    flex-direction: column;
    padding-top: 75px;
    display: flex;
    justify-content: center; /* handles spacing for horizontal*/
    align-items: center; /* handles spacing for vertical items*/
}

#tortilla-container {
    width: 650px;
    display: flex;
    justify-content: space-between;
    padding: 0px;
}

#meat-container {
    width: 650px;
    display: flex;
    justify-content: space-between;
}

#password {
    margin-top: 1rem;
}

#extra-ingredients {
    width: 650px;
    display: flex;
    justify-content: space-between;
}

#img-burrito {
    text-align: start;
}