{% extends 'base.html' %}
{% block content %}
<p><a href="{% url 'posts'%}">Back to main view</a></p>

<form action="{%url 'update_post' post.id%}" method="POST">
  {% csrf_token %} title: <br />
  <input type="text" name="title" placeholder=" {{ post.title }}" /><br /><br />
  <textarea name="text" id="" cols="30" rows="10" placeholder=" {{ post.text }}"></textarea><br />
  <input type="date" id="start" name="pub_date" value="2018-07-22" min="2018-01-01" max="2030-12-31">
  <br />
  <input type="submit" />
</form>
{% endblock %}