<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Burrito Lab</title>
    <link rel= "stylesheet" href = "https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">
    </script>
    <script src = "https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js">
    </script>
</head>
<body>
    <form action="/data" method = "POST">
        <p>Username <input type = "text" name = "Username" /></p>
        <p>Password <input type = "password" name = "Password" /></p>
        
            <fieldset class="Tortilla">
                <div class="row">
                    <legend class="col-form-label col-sm-2 pt-0">Tortilla :</legend>
                        <div class="col-sm-10">
                            <div class="form-check">
                                <input class="form-check-input" type= "radio" name = "gridRadios" value="Corn">
                                <label class="form-check-label" for="Corn">Corn</label><br></div>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type= "radio" name = "gridRadios" value="Flour">
                                <label class="form-check-label" for="Flour">Flour</label><br></div> 
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type= "radio" name = "gridRadios" value="Wheat">
                                <label class="form-check-label" for="Wheat">Wheat</label><br></div> 
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type= "radio" name = "gridRadios" value="Spinach">
                                <label class="form-check-label" for="Spinach">Spinach</label><br></div> 
                            </div>

            <fieldset class="Rice">
                <div class="row">
                    <legend class="col-form-label col-sm-2 pt-0">Rice :</legend>
                        <div class="col-sm-10">
                            <div class="form-check">
                                <input class="form-check-input" type= "radio" name = "gridRadios" value="White">
                                <label class="form-check-label" for="White">White</label><br></div>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type= "radio" name = "gridRadios" value="Brown">
                                <label class="form-check-label" for="Brown">Brown</label><br></div>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type= "radio" name = "gridRadios" value="Refried">
                                <label class="form-check-label" for="Refried">Refried</label><br></div>
                            </div>

    <p><input type = "submit" value = "Submit" /></p>
    </form>
</body>
</html>