.title {

    height: 6rem;
    width: 100%;
    background-image: repeating-radial-gradient(rgb(239, 119, 239), rgb(178, 73, 178), rgb(203, 26, 203), rgb(242, 10, 242), purple);
    opacity: 0.5;
}

.title>h1 {
    color: rgb(71, 6, 71);
    font-family: brush script mt, cursive;
    font-size: 5rem;
    text-align: center;
}

.projects {
    /* display: box; */
    /* height: 75%; */
    /* width: 75%; */
    text-align: center;
    justify-content: right;
    background-image: linear-gradient(rgb(247, 141, 247) 45deg, rgb(244, 16, 244) 90deg, rgb(156, 11, 156) 210deg);
    opacity: 0.8;
    margin-left: 55rem;
    margin-right: 5rem;
    padding-left: 0;

}

.profile {
    background-image: conic-gradient(rgb(203, 26, 129) 45deg, rgb(152, 14, 152) 90deg, rgb(116, 15, 116) 210deg);
    display: flex;
    flex-direction: column;
    margin-right: 70rem;
    align-items: center;
    padding: 0;
    margin-top: 20rem;
    margin-top: -3.5rem;
    overflow: hidden;
}

.btn-bd-primary {
    --bs-btn-font-weight: 600;
    --bs-btn-color: var(--bs-white);
    --bs-btn-bg: var(--bd-violet);
    --bs-btn-border-color: var(--bd-violet);
    --bs-btn-border-radius: .5rem;
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: #{shade-color($bd-violet, 10%)};
    --bs-btn-hover-border-color: #{shade-color($bd-violet, 10%)};
    --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
    --bs-btn-active-color: var(--bs-btn-hover-color);
    --bs-btn-active-bg: #{shade-color($bd-violet, 20%)};
    --bs-btn-active-border-color: #{shade-color($bd-violet, 20%)};
    align-items: center;
}

.title-small {
    color: rgb(87, 11, 87);
    left: -800px;
    position: relative;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    /*     animation-name: text-left; */
    /*     animation-fill-mode: 5s forward; */
    /*     animation-duration: 5s; */
    animation: 5s text-left;


}

.btn {
    background-color: rgb(128, 33, 244) !important;
    color: rgb(70, 15, 82) !important;
}

@keyframes text-left {
    0% {
        left: -800px
    }

    100% {
        left: 0%
    }
}

.carousel-control-next-icon, .carousel-control-prev-icon {
    background:rgb(203, 26, 129);
    height: 8rem !important;
    opacity: 0.8;

}
.carousel-indicators  {
    background-color: rgb(239, 119, 239);
    opacity: 0.8;
}