html {
    background-color: green;
    margin: auto;
    align-items: center;
    font-family: monospace;
}

nav li {
    border-spacing: 2rem;
    border-style: ridge;
    display: inline;
}

body {
    background-color: darkolivegreen;
}

p {
    color: darkgreen;
    background-color: yellowgreen;
    border-style: groove;
    border-color: lawngreen;
}