html {
    background-color: green;
    margin: auto;
    align-items: center;
}

body {
    background-color: darkolivegreen;
}

p {
    color: darkgreen;
    background-color: yellowgreen;
    border-style: groove;
    border-color: lawngreen;
}