{% load crispy_forms_filters %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">

        <title>Login</title>

</head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'home' %}">Todo App</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="{%  url 'home' %}">Home</a>
           {% if  request.user.is_authenticated %}

               <form method="post" action="{% url 'logout' %}">
                  {% csrf_token %}
                  <button  type="submit" class="dropdown-item btn log">Logout</button>

            </form>
        {% else %}

        <a class="nav-link active" aria-current="page" href="{%  url 'signup' %}">Sign Up</a>
        <a class="nav-link active" aria-current="page" href="{%  url 'login' %}">Login</a>
          {% endif %}


      </div>
    </div>
  </div>
</nav>

    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <form method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button type="submit">Sign Up</button>
                </form>


            </div>
        </div>

    </div>

    </body>
</html>
