<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Delete Virtual Machine</h1>
    <form method='POST' action="{% url 'deleteVM' %}">
      {% csrf_token %}
        <div class="form-group">
          <label for="exampleFormControlInput1">Virutal Machine Name</label>
          <input type="name" class="form-control" id="vmName" placeholder="My VM Name" name='vmName'>
        </div>
        <div>
            <button type="submit" class="deleteVM">Delete a VM</button>
        </div>
    </form>
</body>
</html>