{% extends 'base.html' %} {% block content %}
<h1>Hyper-V Virtual Machines</h1>
<br>
    {% for vm in vm_list %}
    <p>Virtual Machine: {{ vm.VM }}</p>
    <p>Cores : {{ vm.CPU }}</p>
    <p>RAM: {{ vm.RAM }}
    <form method='POST' action="{%url 'powerOn' vm.VM%}">
        {% csrf_token %}
        <div>
            <button type="submit" class="powerOn" value='{{ vm.VM }}' name='VM'>Power ON</button>
        </div>
    </form>
    <form method='POST' action="{%url 'powerOff' vm.VM%}">
        {% csrf_token %}
        <div>
            <button type="submit" class="powerOff" value='{{ vm.VM }}' name='VM'>Power OFF</button>
        </div>
    </form>
    {% endfor %}
</br>
{% endblock %}