<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>FEED THE HUNGER BURRITOS</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" />
</head>

<body>
    <header>
        <h1>BURRITOS</h1>

            <h1>Fix Your Burritos</h1>


            <div class="flex-container1">
                <p>tortillas</p>

                <div class="item"><img src="{{ url_for('static', filename='white_flour_tortilla.jpg') }}" />

                    <h2>white</h2>
                </div>


                <div class="item"><img src="{{ url_for('static', filename='wheat_flour.jpg') }}" />
                    <h2>wheat</h2>
                </div>

                <div class="item"><img src="{{ url_for('static', filename='corn.jpg') }}" />

                    <h2>corn</h2>
                </div>
                <div class="item"><img src="{{ url_for('static', filename='spinach.jpg') }}" />
                    <h2>spinach</h2>
                </div>




            </div>
        </div>
        </div>



</body>
    
    <h2>Rice</h2>
    <div class="flex-container2">
        
    <div class="items"><img src="{{ url_for('static', filename='brown_rice.jpg') }}" /><div/>
        <h2>brown</h2>
    <div class="items"><img src="{{ url_for('static', filename='white_rice.jpg') }}" /><div/>
        <h2>white</h2>>
   
    <div/>
    
    <h2>Beans</h2>>

    <div class="flex-container3">
    <div class="itemz"><img src="{{ url_for('static', filename='brown_beans.jpg') }}" /><div/>
        <h2>brown</h2>>
    <div class="itemz"><img src="{{ url_for('static', filename='black_beans.jpg') }}" /><div/>
        <h2>black</h2>>
     
                   
    <div/>

    <p>Add the MEATS!!!<p/>
    <div class="flex-container4">
    <div class="iteme"><img src="{{ url_for('static', filename='carnitas.jpg') }}" /><div/>
        <p>carnitas<p/>
    <div class="iteme"><img src="{{ url_for('static', filename='sofritas.jpg') }}" /><div/>
        <p>sofritas<p/>
    <div class="iteme"><img src="{{ url_for('static', filename='chicken.jpg') }}" /><div/>
        <p>chicken<p/>
   
    <div/>

    <p>Dairy<p/>
        <div class="flex-container5">

    <div class="itemr"><img src="{{ url_for('static', filename='sour_cream.jpg') }}" /><div/>
        <p>sour_cream<p/>
    <div class="itemr"><img src="{{ url_for('static', filename='cheese.jpg') }}" /><div/>
        <p>cheese<p/>
    
    <div/>
    <p>sauce<p/>
    <div class="flex-container6">
    <div class="itemq"><img src="{{ url_for('static', filename='guac.jpg') }}" /><div/>
        <p>guac<p/>
    <div class="itemq"><img src="{{ url_for('static', filename='salsa.jpg') }}" /><div/>
        <p>salsa<p/>
    
          
  
    <div/>
    <header/>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TASTY</title>
    
</head>
<body>
    {% block content %}

    {% endblock %}

    
</body>
</html>


    