<!DOCTYPE html>
<html lang="en">
    <head>
<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>FEED THE HUNGER BURRITOS</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  </head>
  <body>
    <header>
    <h1>BURRITOS</h1>
    
  </body>

    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}"/>
   <h1>Chose your tortilla<h1/>
    <p>
    <div class="flex-container1">
        <p>white_flour_tortilla<p/>
    <div class="item"><img src="{{ url_for('static', filename='white_flour_tortilla.jpg') }}" /><div/>
    <div class="item"><img src="{{ url_for('static', filename='wheat_flour.jpg') }}" /><div/>
    <div class="item"><img src="{{ url_for('static', filename='corn.jpg') }}" /><div/>
    <div class="item"><img src="{{ url_for('static', filename='spinach.jpg') }}" /><div/>
    <div class="item"><img src="white_flour_tortilla.jpg" class="w3-border w3-padding" alt="white_flour"><div/>
    <div class="item"><img src="wheat_flour.jpg" class="w3-border w3-padding" alt="wheat_flour"><div/>
    <div class="item"><img src="corn.jpg" class="w3-border w3-padding" alt="corn"><div/>
    <div class="item"><img src="spinach.jpg" class="w3-border w3-padding" alt="spinach"><div/> 
    <div/>
    <p/>
    <p>
    <h1>Rice<h1/>
        <div class="flex-container2">
            <div class="item"><img src="{{ url_for('static', filename='brown_rice.jpg') }}" /><div/>
                <div class="item"><img src="{{ url_for('static', filename='white_rice.jpg') }}" /><div/>
     <div class="items"><img src="brown_rice.jpg" class="w3-border w3-padding" alt="brown"<div/>
    <div class="items"><img src="white_rice.jpg"  class="w3-border w3-padding" alt="white"><div/>
    <div/>
    <p/>
    <p>Beans<p/>

        <div class="flex-container3">
            <div class="item"><img src="{{ url_for('static', filename='brown_beans.jpg') }}" /><div/>
                <div class="item"><img src="{{ url_for('static', filename='black_beans.jpg') }}" /><div/>
     <div class="itemz"><img src="brown_beans.jpg"  class="w3-border w3-padding" alt="brown"<div/>
    <div class="itemz"><img src="black_beans.jpg"  class="w3-border w3-padding" alt="black"<div/> 
                   
    <div/>

    <p>Add the MEATS!!!<p/>
        <div class="flex-container4">
            <div class="item"><img src="{{ url_for('static', filename='carnitas.jpg') }}" /><div/>
                <div class="item"><img src="{{ url_for('static', filename='sofritas.jpg') }}" /><div/>
                    <div class="item"><img src="{{ url_for('static', filename='chicken.jpg') }}" /><div/>
   <div class="iteme"><img src="carnitas.jpg"  class="w3-border w3-padding" alt="carnitas"<div/>
    <div class="iteme"><img src="sofritas"  class="w3-border w3-padding" alt="sofritas"<div/> 
    <div class="iteme"><img src="chicken.jpg"  class="w3-border w3-padding" alt="chicken"<div/> 
    <div/>

    <p>Dairy<p/>
        <div class="flex-container5">

            <div class="item"><img src="{{ url_for('static', filename='sour_cream.jpg') }}" /><div/>
                <div class="item"><img src="{{ url_for('static', filename='cheese.jpg') }}" /><div/>
    <div class="itemr"><img src="sour_cream.jpg"  class="w3-border w3-padding" alt="sour_cream"<div/>
    <div class="itemr"><img src="cheese.jpg"  class="w3-border w3-padding" alt="cheese"<div/> 
    <div/>
    <p>Sauce<p/>
        <div class="flex-container6">
            <div class="item"><img src="{{ url_for('static', filename='guac.jpg') }}" /><div/>
                <div class="item"><img src="{{ url_for('static', filename='salsa.jpg') }}" /><div/>
                    <div class="item"><img src="{{ url_for('static', filename='sour_cream.jpg') }}" /><div/>
                        <div class="item"><img src="{{ url_for('static', filename='Pico-de-Gallio-Recipe.jpg') }}" /><div/>
          
         <div class="itemy"><img src="guac.jpg"  class="w3-border w3-padding" alt="guac"<div/> 
        <div class="itemy"><img src="salsa.jpg"  class="w3-border w3-padding" alt="salsa"<div/>
        <div class="itemy"><img src="sour_cream.jpg"  class="w3-border w3-padding"alt="sour cream"<div/>
        <div class="itemy"><img src="Pico-de-Gallio-Recipe.jpg"  class="w3-border w3-padding" alt="Pico de Gallio"><div/> }
    <div/>
    <header/>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TASTY</title>
    
</head>
<body>
    {% block content %}

    {% endblock %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>   
</body>
</html>


    
