h1 {
    color: rgb(27, 157, 232);
  }
  
  body {
    border-image: round;
    background-color:rgb(14, 117, 168);
    /* background: url("Static-Electricity.png"); */
  
    
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-family: cursive;
   
    /* background-color: #cccccc; */
  }