.container {
    position: relative;
  }


  body {
    background-image: url('https://cdn.download.ams.birds.cornell.edu/api/v1/asset/153348501/320');
  }   

  p {
    text-align: center;
    background-color:rgb(190, 113, 100); 
    font-family:verdana; 
    color:rgb(61, 20, 20);
}


  a {
    display: inline-block; /* keeps container wrapped tight to content */
    position: absolute; /* to absolutely position element */
    margin-top: 10px;
    top: 40px;;
    left: 50%; /* part1 of centering with translateX/Y */
    transform: translateX(-50%); /* part2 of centering with translateX/Y */
    white-space: nowrap; /* text lines will collapse without this */
    padding:5px;
    font-size:20px;
    border: 2px solid black;
    color:rgb(61, 20, 20);
    background-color:rgb(190, 113, 100);

  }
  
  img {
    border: 5px solid rgba(63, 61, 70, 0.527);
    display: block;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
  }
  
  ul {
    background-color:rgb(190, 113, 100); 
    font-family:verdana; 
    color:rgb(61, 20, 20);
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    list-style: none;
    } /* Remove default bullets */
  
        li::before {
        font-family: "Font Awesome 5 Free";
        content: "\f35a";
        color: green;
        margin-right: 10px; /* Optional tweak */
        }

blockquote {
    background-color:rgb(190, 113, 100); 
    font-family:verdana; 
    color:rgb(61, 20, 20);
}