
body {
    font-family: sans-serif;
    font-weight: 1000;
    background-image: url("https://images.unsplash.com/photo-1542325823-53124d9c5cbe?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1332&q=80");
    background-color: #625a5a37; 
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
   

h1{
    font-family: sans-serif;
    text-align:center;
}

ul{
    font-family: sans-serif;
    margin-bottom: 0%;
    margin-top: 0%;
    display: flex;
    flex-direction: row;
    background-color: blue;    
}

ul2 {
    font-family: sans-serif;
    margin-bottom: 100%;
    margin-top: 0%;
    display:flex;
    text-align:left;
    flex-direction: column;
    background-color: rgb(146, 146, 151);
    text-decoration-color: red;
}

ul:hover{
    font-weight: 1000;
    background-color: rgba(0, 225, 255, 0.5);
    text-transform:uppercase;
    transition: 2s;
}

#sections:hover{
    font-weight: 500;
    background-color: rgba(255, 0, 230, 0.281);
    text-transform:uppercase;
    transition: 2s;
    
}

#socialmedia:hover{
    font-weight: 500;
    background-color: rgba(30, 0, 255, 0.281);
    text-transform:uppercase;
    transition: 2s;
}

#contact:hover{
    font-weight: 500;
    background-color: rgba(255, 119, 0, 0.281);
    text-transform:uppercase;
    transition: 2s;
}

li{ 
    font-family: sans-serif;
    word-spacing: 5px;  
    padding: 30px; 
    margin-bottom: 0%;
    margin-top: 0%;
    margin-left: auto;
    margin-right: auto;
    list-style: none;
    text-align: center;
}


#home:hover{
    font-weight: 500;
    background-color: rgba(187, 0, 255, 0.5);
    transition: 2s;
}

#about-me:hover{
    font-weight: 500;
    background-color: rgba(255, 0, 0, 0.5);    
    transition: 2s;
}

#photos:hover{
    font-weight: 500;
    background-color: rgba(0, 255, 17, 0.5);
    transition: 2s;
    transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}

div{
    font-family: sans-serif;
    text-align: center;
    font-size: large;
}

    
.column {
    
    float: left;
    width: 25%;
    padding: 0px;
}
  

.row:after {
    content: "";
    display: table;
    clear: both;
}
  


footer{
    display:contents;
    color:rgba(14, 6, 16, 0.5) ; 
    text-align: left;
    font-family: sans-serif;
    font-size: larger ; 
    

}
/* comment */

  
