<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Todo List</h1>
    <form method="post" action="{% url '' %}">
        {% csrf_token %}
        <label for="task">Task:</label>
        <input type="text" id="task" name="task">
        <input type="submit" value="Add task">
      </form>
    <ul>
        {% for todo in todos %}
        <li>{{ todo.task }}</li>
        {% endfor %}
    </ul>


</body>

</html>