img {
   max-width: 50%;
   height: 50%; 
   border: 10px solid yellowgreen;
   background-color:aquamarine;
   display: flex;
 
}

body {

   background-color: mintcream;
   align-items: center;
   background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS9hj_Wo9w-aMy8ja8dXZuBNYLaPGgQ9IAPZg&usqp=CAU");
   
}
.panda_intro {
   align-items: center;
   background-color: aquamarine;
}
.intro {
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   background-color: blue ;
   align-items: center;
   font-weight: 200;
   font-size: 2rem;
}
h1 {
   background-color: aqua;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-weight: 200;
   align-items: center;
   justify-content: center;
}
.title {
   align-items: center;
   justify-items: center;
   margin-inline-start: 20rem;
   margin-inline-end: 20rem;
   text-align: center;
}
p {
   align-items: center;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.redpanda {
   background-color: aqua;
   margin-block: 0rem;
}
.red_panda {
   align-items: center;
   background-color: aqua;
   margin-left: 10rem;
   margin-right: 5rem;
   display: flex;
   flex-direction: column;
}
.sideface_panda {
   align-items: center;
   display: flex;
   background-color: azure;
}
.home {
   align-items: center;
   justify-content: center;
   background-color: rebeccapurple;
   display: flex;
   margin-left: 20rem;
   margin-right: 20rem;
   text-align: center;
}
.list_home {
   align-items: center;
   justify-content: center;
   justify-items: center;
   background-color: darkorchid;
   margin-inline-start: 20rem;
   margin-inline-end: 20rem;
   font-size: 3rem;
   list-style: lower-roman;
   text-align: center;
   list-style-position: inside;
   
}
.quote {
   font-size: 5rem;
   font-weight: 200;
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   background-color: brown;
   display: flex;
   align-items: center;
   justify-content: center;
}
.panda2 {
   background-color: aqua;
   display: flex;
   align-items: center;
}
.another_panda {
   border-radius: 30rem;
   padding: 4rem;
   width: 25rem;
   height: 10rem;
}
section {
   align-items: center;
   justify-content: center;
}
.citation {
   color: black;
   font-weight: 200;
   
}
.citation:hover, .citation:active {
   background: red;
}





