
/*Grab background image, repeat image, center text, set font color and type */
.main_body {
    background-image: url("/bio_lab/pics/blk_marble.jpg");
    background-repeat: repeat;
    color: aliceblue;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

/* */
.table1 {
    font-family: 'Times New Roman', Times, serif;

}

/* */
.table2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 100%;
}

.caption{
    font-size: x-small;
    color: gold;
}


