body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;/*Calibri, 'Trebuchet MS', sans-serif; */
    background-color:beige;
    color: midnightblue;
}

header {
    height: 200px;
    width: 100%;
    background: url(images/oregonoak.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50px;
    background-color: darkkhaki;
}

.header h1 {
    vertical-align: middle;
    font-size: 50px;
    padding:  0px 50px 0px 0px;
    text-align: right;
}

.header h3 {
    font-style: italic;
    padding: 0px 50px 50px 0px;
    text-align: right;
}

div.quote {
    padding: 10px 20px 5px 20px;
    font-size: smaller;
    font-weight: lighter;
    text-align: justify;
    border: 1px solid beige;
}

aside.urban_forestry {
    width: 20%;
    padding: 20px 20px 20px 20px;
    font-size: smaller;
    font-weight: lighter;
    text-align: justify;
    float: right;
    background-color: khaki;
}

div.main_text{
    padding: 10px 20px 10px 20px;
    text-align: left;
}

h4 {
    font-style: bold;
}
