body {
    background-color: darkolivegreen;
    align: center
    font-family: "sans-serif";
}

.header-box {
    text-align: center;
    background-image: url("images/oak_restoration\ \(1\).jpg");
    width: 98%;
    margin: 0px;
    border: 1px solid black;
}

h1 {
    align: center;
    font-size: 60px;
    font-weight: bold;
    color: black;
    margin: 5px 0px 0px 0px;    
}

h3 {
    color: black;
    font-weight: bold;
    margin-top: 0px;
}

img {    
    float: right;
    width: 350px;
    margin: 10px 10px 10px 10px;
    border: 1px solid black;  
}
h4 {
    margin: 10px 0px 5px 0px;
}

p {
    margin: 5px 10px 5px 10px;
    color: #000000; 
}